#header {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    border-bottom: 5px solid #333333;
}

.row {
    background-color: #d3d0d0;
}

label {
    margin-top: 10px;
}

#submitInvoice {
    margin-top: 10px;
}

#addNewSupplier {
    margin-top: 20px;
}