#header {
    font-weight: bold;
    font-size: 50px;
    font-style: italic;
    text-align: center;
    border-bottom: 5px solid #333333;
}

#invoiceHeaderRow {
    margin-top: 20px;
}

#filterRow {
    margin-top: 20px;
}

.table {
    margin-top: 20px;
    background-color: #F8F9F9;
    border: 1px solid #D3D3D3;
}

.table th {
    background-color: #333333;
    color: #FFFFFF;
}

/* .invoice-row {
    background-color: #F8F9F9;
    color: #2C3E50;
}

.invoice-row th,
.invoice-row td {
    border: 1px solid #D3D3D3;
} */

.row {
    background-color: #d3d0d0;
}

.nav-link {
    color: #F8F9F9;
}

#createInvoce {
    color: #F8F9F9;
    font-size: 20px;
    text-decoration: none;
}

#createInvoce:hover {
    color: #0c51e6;
    cursor: pointer;
}

#year-filter:hover {
    color: #0c51e6;
    cursor: pointer;
}

#month-filter:hover {
    color: #0c51e6;
    cursor: pointer;
}

#paid-filter:hover {
    color: #0c51e6;
    cursor: pointer;
}

label {
    margin-top: 10px;
}

.btn-outline-success {
    margin-top: 20px;
}

.invoice-row .form-group {
    display: inline-block;
    width: 150px;
    margin-right: 10px;
}