#header {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    border-bottom: 5px solid #333333;
}

#supplierHeader {
    margin-top: 20px;
}

.table {
    margin-top: 20px;
    background-color: #F8F9F9;
    border: 1px solid #D3D3D3;
}

.table th {
    background-color: #333333;
    color: #FFFFFF;
}

.row {
    background-color: #d3d0d0;
}

.nav-link {
    color: #F8F9F9;
}

#createSupplier {
    color: #F8F9F9;
    font-size: 20px;
    text-decoration: none;
}

#createSupplier:hover {
    color: #0c51e6;
    cursor: pointer;
}

label {
    margin-top: 10px;
}

.btn-outline-success {
    margin-top: 20px;
}

.form-container {
    background-color: #d3d0d0;
    color: #3b3b3b;
}