<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <title>MB Rupija</title>
</head>

<body>
    <div class="container">
        <div id="header">Rupija</div>
        <div class="row">
            <div class="col-3">
                <ul id="menuSideBar" class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="">Tiekėjai</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Sąskaitos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Operacijos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Statistika</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Darbų sąrašas</a>
                    </li>
                </ul>
            </div>

            <div class="col-9">
                <div id="selectedOption"></div>
                <div id="supplier-list">
                </div>
                <div id="pagination-buttons"></div>
            </div>
        </div>
    </div>
</body>

</html>