<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sąskaitų tipas-MB Rupija</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jspdf@2.5.0/dist/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.21/jspdf.plugin.autotable.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fontsource/noto-sans-lithuanian@4.5.0/noto-sans-lithuanian.js"></script>

    <link rel="stylesheet" href="../css/oneInvoiceType.css">
    <script defer src="../js/oneInvoiceType.js"></script>
</head>

<body>
    <div id="header">Rupija</div>
    <div id="alert-message"></div>
    <div id="mainRow" class="row">
        <div class="col-1"></div>
        <div id="sideMenu" class="col-1">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="suppliers.html">Tiekėjai</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="invoices.html">Sąskaitos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="registerExpences.html">Kasos išlaidos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Kasos pajamos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Bankinės operacijos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Statistika</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Darbų sąrašas</a>
                </li>
            </ul>
        </div>
        <div class="col-10">
            <div id="invoiceHeaderRow" class="row">
                <div class="col-9">
                    <h3>Sąskaitos</h3>
                    <a id="createInvoce" href="./createInvoice.html">+ pridėti naują sąskaitą</a>
                    <h1 id="typeName"></h1>
                </div>
                <div class="col-3">
                    <button id="downloadPdf">Atsisiųsti.pdf</button>
                </div>
            </div>
            <div class="row">
                <div class="col-11">
                    <table class="table" id="invoice-table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">pdf</th>
                                <th scope="col">Statusas</th>
                                <th scope="col">Numeris</th>
                                <th scope="col">Data</th>
                                <th scope="col">Tiekėjas</th>
                                <th scope="col">Suma be PVM</th>
                                <th scope="col">PVM</th>
                                <th scope="col">Suma su PVM</th>
                                <th scope="col">Veiksmai</th>
                                <th scope="col"></th>
                                <th scope="col">Įkelti failą</th>
                                <th scope="col"></th>
                            </tr>
                            <div id="inputContainer"></div>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="pagination-buttons"></div>
            <div id="total">Viso:</div>
            <div id="totalSumBeforeTax">Suma be PVM - <span></span></div>
            <div id="totalSumTax">PVM - <span></span></div>
            <div id="totalSumAfterTax">Suma su PVM - <span></span></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</html>